@model UsuarioViewModel
@{
    ViewData["Title"] = "Index";
}
<header>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
</header>

<h1>Usuarios</h1>
<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<p>

    <a class="btn btn-outline-success" onclick="abrirModal()" id="btn-crear">Crear nuevo</a>
    @*<a class="btn btn-outline-success" asp-action="Create">Crear nuevo</a>*@
</p>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i>
    </div>
    <div class="card-body">
        <table class="table" id="tabladata">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario.Nombres)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario.Apellidos)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario.Correo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario.Reestablecer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario.Activo)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Usuarios)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombres)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellidos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Correo)
                        </td>
                        <td>
                            @if (item.Reestablecer.HasValue && item.Reestablecer.Value)
                            {
                                <span class="badge bg-success">Si</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">No</span>
                            }
                        </td>
                        <td>
                            @if (item.Activo.HasValue && item.Activo.Value)
                            {
                                <span class="badge bg-success">Si</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">No</span>
                            }
                        </td>
                        <td>
                            <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdUsuario"><i class="fas fa-info"></i></a> |
                            @*<a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdUsuario"><i class="fas fa-pen"></i></a> |*@
                            <a class="btn btn-warning btn-editar" onclick="abrirModalEdit(@item.IdUsuario)"><i class="fas fa-pen"></i></a> |
                            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdUsuario"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content row">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body g-2">
                <input id="txtid" type="hidden" value="0" />
                <div class="row">
                    <form asp-action="Create" class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-sm-6 form-group">
                            <label asp-for="Usuario.Nombres" class="control-label"></label>
                            <input id="txtNombre" asp-for="Usuario.Nombres" class="form-control" />
                            <span asp-validation-for="Usuario.Nombres" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label asp-for="Usuario.Apellidos" class="control-label"></label>
                            <input id="txtApellidos" asp-for="Usuario.Apellidos" class="form-control" />
                            <span asp-validation-for="Usuario.Apellidos" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label asp-for="Usuario.Correo" class="control-label"></label>
                            <input id="txtCorreos" asp-for="Usuario.Correo" class="form-control" />
                            <span asp-validation-for="Usuario.Correo" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label asp-for="Usuario.Clave" class="control-label"></label>
                            <input id="txtClave" asp-for="Usuario.Clave" class="form-control" />
                            <span asp-validation-for="Usuario.Clave" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label asp-for="Usuario.Activo" class="control-label">Activo</label>
                            <select id="txtActivo" type="text" class="form-select" asp-for="Usuario.Activo">
                                <option selected value="@true">Si</option>
                                <option value="@false">No</option>
                            </select>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label asp-for="Usuario.Reestablecer" class="control-label">Reestablecer</label>
                            <select id="txtReestablecer" type="text" class="form-select" asp-for="Usuario.Reestablecer">
                                <option selected value="@true">Si</option>
                                <option value="@false">No</option>
                            </select>
                        </div>
                        @{
                            bool esNuevo = (bool)ViewBag.EsNuevo; // Obtén el valor de la variable esNuevo desde el ViewBag
                        }
                        <div class="form-group modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <input type="submit" class="btn btn-primary" value="Crear" />
                            <input type="submit" class="btn btn-primary" value="Guardar" />
                        </div>
                    </form>
                    @*<form asp-action="Create" class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-sm-6 form-group">
                    <label asp-for="Usuario.Nombres" class="control-label">Nombre</label>
                    <input type="text" class="form-control" asp-for="Usuario.Nombres" />
                    <span asp-validation-for="Usuario.Nombres" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6 form-group">
                    <label asp-for="Usuario.Apellidos" class="control-label">Apellidos</label>
                    <input type="text" class="form-control" asp-for="Usuario.Apellidos" />
                    <span asp-validation-for="Usuario.Apellidos" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6 form-group">
                    <label asp-for="Usuario.Correo" class="control-label">Correo</label>
                    <input type="text" class="form-control" asp-for="Usuario.Correo" />
                    <span asp-validation-for="Usuario.Correo" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6 form-group">
                    <label asp-for="Usuario.Activo" class="control-label">Activo</label>
                    <select type="text" class="form-control" asp-for="Usuario.Activo">
                    <option value="1">Si</option>
                    <option value="0">No</option>
                    </select>
                    </div>
                    <div class="form-group modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <input type="submit" class="btn btn-primary" value="Guardar" />
                    </div>
                    </form>*@
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        var js = jQuery.noConflict(true);
        var esNuevo = true;
        $(document).ready(function () {
            //console.log("holaaa")
            $('#tabladata').DataTable({
                responsive: true,
                "width": "90px",
                "language": {
                    "url": '//cdn.datatables.net/plug-ins/1.13.5/i18n/es-ES.json',
                }

            });
        });

        function abrirModal() {
            document.getElementById("txtNombre").value = "";
            document.getElementById("txtApellidos").value = "";
            document.getElementById("txtClave").value = "";
            document.getElementById("txtActivo").value = "";
            document.getElementById("txtReestablecer").value = "";
            $("#FormModal").modal("show");
        }

        function abrirModalEdit(id) {
            $("#FormModal").modal("show");
            fetch("getUsuario/" + id).then(req => {
                req.json().then(res => {
                    console.log(res)
                    document.getElementById("txtNombre").value = res.nombres;
                    document.getElementById("txtApellidos").value = res.apellidos;
                    document.getElementById("txtClave").value = res.clave;
                    document.getElementById("txtActivo").value = res.activo;
                    document.getElementById("txtReestablecer").value = res.reestablecer;

                })
            })
        }

        //function onEdit() {
        //    let usuario = {}
        //    usuario.nombres = document.getElementById("usuarioNombre").value;
        //    usuario.nombres = document.getElementById("usuarioNombre").value;
        //    usuario.nombres = document.getElementById("usuarioNombre").value;
        //    usuario.nombres = document.getElementById("usuarioNombre").value;
        //    usuario.nombres = document.getElementById("usuarioNombre").value;

        //    fetch("editUser/" + id,
        //    ).then(req => {console.log(req)})
        //}

        $("#tabladata tbody").on("click", '.btn-editar', function () {
            var filaSeleccionada = $(this).closest("tr");
            var data = tabladata.row(filaSeleccionada).data()
        })
    </script>
}